version: "3.8"
services:
  moviesearch:
    container_name: moviesearch
    image: "msse:latest"
    ports:
      - 8124:8124
    depends_on:
      - elastic
      - postgres
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_ELASTICSEARCH_URIS=elasticsearch:9200
      - SPRING_ELASTICSEARCH_PASSWORD=123
  elastic:
    container_name: elasticsearch
    image: "elasticsearch:7.17.7"
    ports:  
      - 9200:9200
    environment:
      - discovery.type=single-node
      - http.host=0.0.0.0
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - cluster.name=docker-cluster
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=123
    volumes:
      - elastic_data:/elasticsearch-data
  postgres:
    container_name: postgres
    image: "postgres:bullseye"
    shm_size: 1gb
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/postgres-data
  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:7.17.6
    restart: always
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200    # address of elasticsearch docker container which kibana will connect
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD="123"
    ports:
      - 5601:5601
    depends_on:
      - elastic
volumes:
  postgres_data :
  elastic_data :

