spring:
  application:
    name: movie-search-service
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://127.0.0.1:5432/postgres}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driverClassName: org.postgresql.Driver
    hikari:
      connectionTimeout: 10000
      maximum-pool-size: 25
      auto-commit: true
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
  elasticsearch:
    uris: ${SPRING_ELASTICSEARCH_URIS:127.0.0.1:9200}
    connection-timeout: 5s
    password: ${SPRING_ELASTICSEARCH_PASSWORD:123}
    username: ${SPRING_ELASTICSEARCH_USERNAME:elastic}
  codec:
    max-in-memory-size: 10MB
springdoc:
  writer-with-default-pretty-printer: true
  swagger-ui:
    enabled: false
  api-docs:
    path: /api-docs
    enabled: true
cygni:
  actorsTsv: ${CYGNI_ACTORSTSV:/Users/andreas.hansen/downloads/name.basics.tsv}
  moviesTsv: ${CYGNI_MOVIESTSV:/Users/andreas.hansen/downloads/title.basics.tsv}
  take: ${CYGNI_TAKE:1000000000}
  postgresBufferSize: ${CYGNI_POSTGES_BUFFER_SIZE:10000}
  elasticWindow: 500
  ingest: ${CYGNI_INGEST:true}
server:
  port: 8124
