spring:

  application:
    name: movie-search-service
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost/postgres
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
    hikari:
      connectionTimeout:
        20000
      maximum-pool-size: 25
  elasticsearch:
    uris: localhost:9200
    connection-timeout: 5s
  codec:
    max-in-memory-size: 10MB
springdoc:
  writer-with-default-pretty-printer: true
  swagger-ui:
    enabled: false
  api-docs:
    path: /api-docs
    enabled: true
cygni:
  actorsTsv: /Users/andreas.hansen/Downloads/name.basics.tsv
  moviesTsv: /Users/andreas.hansen/Downloads/title.basics.tsv
  take: 1000000
  postgresBufferSize: 100000
  elasticWindow: 500
server:
  port: 12934
