spring:
  application:
    name: movie-search-service
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driverClassName: org.postgresql.Driver
    hikari:
      connectionTimeout: 10000
      maximum-pool-size: 25
      auto-commit: true
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
  elasticsearch:
    uris: ${SPRING_ELASTICSEARCH_URIS}
    connection-timeout: 5s
    password: ${SPRING_ELASTICSEARCH_PASSWORD}
    username: ${SPRING_ELASTICSEARCH_USERNAME:elastic}
  codec:
    max-in-memory-size: 10MB
springdoc:
  writer-with-default-pretty-printer: true
  swagger-ui:
    enabled: false
  api-docs:
    path: /api-docs
    enabled: true
cygni:
  actorsTsv: ${CYGNI_ACTORSTSV}
  moviesTsv: ${CYGNI_MOVIESTSV}
  take: ${CYGNI_TAKE:10000}
  postgresBufferSize: ${CYGNI_POSTGES_BUFFER_SIZE:10000}
  elasticWindow: 500
  ingest : ${CYGNI_INGEST:true}
server:
  port: 8124
