<p>There are {{actorCount}} actors stored in elastic, search away!
</p>
<input type="text" id="searchInput" name="searchInput" [(ngModel)]="searchInput">
<button (click)="search(searchInput)">Search</button>
<div *ngIf="errorMsg">
    {{errorMsg}}
    secret
</div>
    <div class="searchres" *ngFor="let actor of actors">
        <b>Birthyear</b> : {{actor.birthYear}} 
        <br>
        <b>Deathyear</b> : {{actor.deathYear}} 
        <br>
        <b> Known for titles</b> : <span *ngFor="let know of actor.titleMappings | keyvalue">
            <a href="https://www.imdb.com/title/{{know.key}}">{{know.value}} </a></span>
        <br>
        <b>imdb page : </b> <a href="https://www.imdb.com/name/{{actor.nconst}}">Imdb actor page</a>        
        <br>
        <b>Primaryname :</b> {{actor.primaryName}}
        <br>
        <b>Primary professions :</b> <span *ngFor="let prof of actor.primaryProfession">
            {{prof}}</span>
    </div>