name:  CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs: 
  primary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version}}
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: install dependencies
        run: npm install
      - name: build
        run: npm run build
      - name: aws deploy
        run: BUILD_DIRECTORY=build BUCKET_NAME=mss-cygni AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}  npm run deploy-aws
