name:  Build_and_deploy_to_s3

on:
  push:
    branches:
      - main
    paths:
      - frontend/**
  pull_request:
    branches:
      - main
    paths:
      - frontend/**

jobs: 
  primary:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version}}
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: install dependencies
        working-directory: ./frontend
        run: npm install
      - name: build
        working-directory: ./frontend
        run: npm run build
      - name: Deploy static site to S3 bucket
        working-directory: ./frontend/dist/moviesearch-service-frontend
        run: aws s3 sync . s3://mss-cygni  
