name:  Build_and_deploy_to_s3

on:
  push:
    branches:
      - main
    paths:
      - frontend/**
  pull_request:
    branches:
      - main
    paths:
      - frontend/**
      
jobs: 
  primary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version}}
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: install dependencies
        working-directory: ./frontend
        run: npm install
      - name: build
        working-directory: ./frontend
        run: npm run build
      - name: aws deploy
        working-directory: ./frontend
        run: BUILD_DIRECTORY=dist BUCKET_NAME=mss-cygni AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}  npm run deploy-aws
